@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}


:root {
  --bg: rgba(0, 149, 255, 1);
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --speed: 500ms;
  --card-aspect-ratio: 4 / 3;
  --card-image-width: 60%;
}

.active {
  background-color: purple;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.navbar {
  margin: 1rem;
  padding: 1rem;
  flex: 0 0 auto;
  align-self: center;
  background-color: var(--bg);
  border-bottom: var(--border);
  z-index: 100;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0 .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown {
  position: absolute;
  top: 60px;
  width: 250px;
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
}

.menu-item {
  padding: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
}

.menu-item:hover {
  background-color: #dadce1;
}

html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(0, 1, 62);
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.card-menu {
  padding: 25px 15px;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.card-grid-container {
  margin: 0 auto;
  width: 95%;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.card-grid {
  aspect-ratio: 16 / 9;
  width: 100%;
  min-height: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  border: dashed rgba(255, 255, 255, 1);
  padding: 1%;
}

.gallery {
  width: 95%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: auto 1fr auto;
  justify-items: center;
  align-items: center;
}

.display-options {
  grid-column-start: 2;
  padding-bottom: 30px;
}

.display-button {
  align-self: center;
  border: none;
  background: none;
  text-align: center;
  font-size: 3rem;
  opacity: 0.7;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  user-select: none;
}

.display-button svg {
  fill: white;
}

.display-button.toggle svg {
  fill: rgba(0, 149, 255, 1);
}

.chevron {
  border: none;
  background: none;
  text-align: center;
  font-size: 3rem;
  margin: 1rem;
  opacity: 0.7;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  user-select: none;
}

.chevron:hover,
.display-button:hover {
  opacity: 1;
}

.chevron:focus,
.display-button:focus {
  outline: none;
}

.chevron svg {
  fill: white;
}

.screenshare {
  aspect-ratio: 16 / 9;
  min-height: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: dashed rgba(255, 255, 255, 1);
  padding: 1%;
}

.slider {
  margin: 2rem;
  grid-column-start: 2;
  align-self: start;
  width: 100%;
  background: transparent;
}

.slider:focus {
  outline: none;
}

.concentration-grid {
  padding: 25px 15px;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.concentration-card {
  position: relative;
  box-sizing: border-box;
  perspective: 1000px;
  user-select: none;
  transition: all ease-in-out .2s;
} 

.concentration-card:hover {
  transform: scale(1.04);
}

.concentration-card .front{
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all ease-in-out .7s;
  overflow: hidden;
}

.flipped .front{
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.flipped {
  transform: scale(1.04);
}

.concentration-card .back{
  box-sizing: border-box;
  background-color: white;
  position: absolute;
  top: 0;
	left: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all ease-in-out .7s;
}

.flipped .back{
  backface-visibility: hidden;
  transform: rotateY(-180deg);
}

.card {
  contain: strict;
  background-color: white;
}

.card-frame {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
}

.back {
  contain: strict;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.hidden {
  opacity: 0;
}

.card-selected {
  outline: solid 0.2rem rgba(0, 149, 255, 1);
}

.no-border {
  border: none;
}

.color-picker {
  z-index: 4;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: .4rem;
  padding: .6rem;
  background-color: rgba(0, 0, 0, .2);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .4rem;
}

.color-picker-button {
  padding: 1rem;
  width: 2.5rem; 
  height: 2.5rem; 
  border: none;
  border-radius: 50%;
}

.color-selected {
  outline: dashed 0.2rem white;
  /* outline: dashed 0.2rem rgba(0, 149, 255, 1); */
}

.color-picker-overlay {
  z-index: 3;
  width: 100vw; 
  height: 100vh; 
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(calc(-100% - 1em));
  transition: transform ease-out 1s;
  filter: drop-shadow(.5em .0 .5em rgba(0, 0, 0, .5));
}

.cover {
  transform: translateX(0);
  transition: transform ease-out 1s;
}

.peek {
  visibility: hidden;
}

.hide-text {
  opacity: 0;
  transform: translate(0, 70%);
}

.show-text {
  transform: translate(0, -50%);
}

.animate-text {
  transition: "opacity .5s, transform .5s"
}


@keyframes hide {
  from {
    /* opacity: 1; */
  }
  
  to {
    opacity: 0;
    transform: translate(0, 70%);
  }
}

.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}